body {
    text-align: center;
    font-family: Arial;
    margin-top: 50px;
}

input {
    display: block;
    margin: 10px auto;
    padding: 8px;
}

button {
    padding: 8px 15px;
    cursor: pointer;
}